/// Gets the color of a button property for a given theme and state.
///
/// @example background: oButtonsGetColor($state: 'hover', $property: 'border', $theme: 'primary');
///
/// @access public
/// @param {String} $state
/// @param {String} $property
/// @param {String|List|Map} $theme A theme string/list or a custom theme map. Will default to the currently configured theme.
/// @return {Color}
@function oButtonsGetColor($state, $property, $theme: null) {
	@if type-of($theme) == 'map' {
		$theme: _oButtonsGetCustomThemeVariables($theme);
	}
	$state-color: _oButtonsGet($variables: '#{$state}-#{$property}', $from: $theme);
	$default-color: _oButtonsGet($variables: 'default-#{$property}', $from: $theme);
	@return if($state-color, $state-color, $default-color);
}

@function _oButtonsGetVaraint($type, $theme) {
	// mono
	// inverse
	// primary
	// secondary
	$variant: if($theme, $theme, $type);

	// primary-mono
	// primary-inverse
	@if type-of($theme) == 'string' and $type and $type != $_o-buttons-default-type {
		$variant: '#{$type}-#{$theme}';
	}

	@return $variant;
}
