/// Output button classes, including size and theme modifiers.
/// Defaults to all sizes and themes.
///
/// @example Default button classes only.
///     @include oButtons;
///
/// @example Primary and secondary button modifier classes, plus big and small modifier classes. No icon buttons. No pagination or group classes.
///    @include oButtons($opts: (
///        'sizes': ('big', 'default'),
///        'themes': ('primary', 'secondary')
///    ));
///
/// @example Primary and secondary modifier classes, plus big and small modifier classes, plus arrow left/right icon buttons for these themes and sizes. No pagination or group classes.
///    @include oButtons($opts: (
///        'sizes': ('big', 'default'),
///        'themes': ('primary', 'secondary'),
///        'icons': ('arrow-left', 'arrow-right')
///    ));
///
/// @example Primary and secondary modifier classes, plus big and small modifier classes, plus arrow left/right icon buttons for these themes and sizes, plus classes for pagination and group styles.
///    @include oButtons($opts: (
///        'sizes': ('big', 'default'),
///        'themes': ('primary', 'secondary'),
///        'icons': ('arrow-left', 'arrow-right')
///        'opts': ('pagination', 'groups'),
///    ));
///
/// @param {List} $opts
@mixin oButtons($opts: (
	'sizes': $_o-buttons-sizes,
	'themes': map-keys($_o-buttons-themes),
	'icons': $_o-buttons-icons,
	'pagination': true,
	'groups': true
)) {
	$sizes: map-get($opts, 'sizes');
	$themes: map-get($opts, 'themes');
	$icons: map-get($opts, 'icons');
	$pagination-enabled: map-has-key($opts, 'pagination');
	$groups-enabled: map-has-key($opts, 'groups');

	// Base button class.
	.o-buttons {
		@include oTypographySansBold();
		@include oButtonsSize();
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		margin: 0;
		border-style: solid;
		text-align: center;
		text-decoration: none;
		border-radius: $_o-buttons-border-radius;
		cursor: pointer;
		transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
		user-select: none;
		background-clip: border-box;
		// Prevent fat white type on a dark background
		// sass-lint:disable no-vendor-prefixes
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-appearance: none;
		-webkit-appearance: none;
		// sass-lint:enable no-vendor-prefixes

		// Same as aria-disabled:
		// http://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled
		// This is a common style for all button themes
		&[disabled] {
			pointer-events: none;
			opacity: 0.4;
			cursor: default;
		}
	}

	// Base icon class.
	@if (length($icons) > 0) {
		.o-buttons-icon {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: 3px;
			padding-left: _oButtonsGet('icon-padding');
		}

		.o-buttons-icon__label {
			font-size: 0;
			height: 1px;
			overflow: hidden;
			display: block;
		}

		// Icon only modifier. Higher specificity than size modifier.
		.o-buttons.o-buttons-icon.o-buttons-icon--icon-only {
			padding-left: 0;
			background-position: 50%;
			min-width: 40px;
		}
	}


	// Size modifiers.
	@each $size in $sizes {
		.o-buttons--#{$size} {
			@include oButtonsSize($size);
		}
		@if (length($icons) > 0) {
			.o-buttons--#{$size}.o-buttons-icon {
				padding-left: _oButtonsGet('icon-padding', $size);
			}
		}
	}

	// Theme modifiers.
	@each $theme in $themes {
		@if _oButtonsSupports($theme) {
			// Output theme.
			@include _oButtonsTheme($theme, $icons: $icons);
		}
	}

	// Pagination wrapper.
	@if $pagination-enabled {
		.o-buttons-pagination {
			> .o-buttons {
				padding-left: 5px;
				padding-right: 5px;
				min-width: 24px;

				&.o-buttons--big {
					padding-left: 9px;
					padding-right: 9px;
					min-width: 36px;
				}
			}
		}
	}

	// Group wrapper.
	@if $groups-enabled {
		.o-buttons-group {
			> .o-buttons {
				position: relative;
				border-radius: 0;

				+ .o-buttons {
					margin-left: -1px;
				}

				&:hover,
				&:focus {
					z-index: 1;
				}
			}

			:first-child {
				border-bottom-left-radius: $_o-buttons-border-radius;
				border-top-left-radius: $_o-buttons-border-radius;
				border-left-width: 1px;
			}

			:last-child {
				border-bottom-right-radius: $_o-buttons-border-radius;
				border-top-right-radius: $_o-buttons-border-radius;
			}
		}
	}
}

/// Outputs styles for a primary button for a given them.
///
/// @example Output classes for a custom primary button.
/// 	@include oButtonsPrimary($theme: (
/// 		$name: 'example-name',
/// 		$background: 'slate',
/// 		$accent: 'lemon'
/// 	));
///
/// @example Output classes the primary, mono button.
///     @include oButtonsPrimary($theme: 'mono');
///
/// @example Output classes with icons for the primary, mono button.
///     @include oButtonsPrimary($theme: 'mono', $icons: ('arrow-right', 'arrow-left'));
///
/// @param {String|Map} $theme - A theme name or a custom theme map.
@mixin oButtonsPrimary($theme, $icons: ()) {
	@if type-of($theme) == 'map' {
		$theme: map-merge($theme, ('colorizer': 'primary'));
	}
	@include _oButtonsTheme($theme, $icons);
}

/// Outputs styles for a secondary button for a given them.
///
/// @example Output classes for a custom secondary button.
/// 	@include oButtonsSecondary($theme: (
/// 		$name: 'example-name',
/// 		$background: 'slate',
/// 		$accent: 'lemon'
/// 	));
///
/// @example Output classes the secondary, mono button.
///     @include oButtonsSecondary($theme: 'mono');
///
/// @example Output classes with icons for the secondary, mono button.
///     @include oButtonsSecondary($theme: 'mono', $icons: ('arrow-right', 'arrow-left'));
///
/// @param {String|Map} $theme - A theme name or a custom theme map.
@mixin oButtonsSecondary($theme, $icons: ()) {
	@include _oButtonsTheme($theme, $icons);
}


/// Button theme construct
/// Outputs styles for all button states
///
/// @param {String|Map} $theme
@mixin _oButtonsTheme($theme, $icons: ()) {
	$custom-theme: type-of($theme) == 'map';
	$theme-name: if($custom-theme, map-get($theme, 'name'), $theme);

	@if $custom-theme and not $theme-name {
		@error 'Cound not output custom button theme as no "name" key is specified in the theme map: "#{$theme}".';
	}

	$theme-exists: map-has-key($_o-buttons-themes, $theme-name);
	@if $theme-exists and $custom-theme {
		@error 'Cannot output button theme "#{$theme-name}" as it already exists.';
	}

	@if $custom-theme {
		$_o-buttons-themes: map-merge($_o-buttons-themes, ($theme: '.o-buttons.o-buttons--#{$theme-name}')) !global;
	}

	$theme-selector: map-get($_o-buttons-themes, $theme);
	@if $theme-selector == null {
		@error 'Button theme "#{$theme}" does not exist. Must be one of "#{map-keys($_o-buttons-themes)}" or a custom theme map.';
	}

	#{$theme-selector} {
		@include _oButtonsColors('default', $theme);
		// https://www.w3.org/TR/wai-aria-1.1/#aria-selected
		// https://www.w3.org/TR/wai-aria-1.1/#aria-pressed
		&[aria-selected=true], // e.g. A selected tab or page number in pagination.
		&[aria-current], // e.g. A selected tab or page number in pagination (for links only).
		&[aria-pressed=true], // e.g. A "follow" button that is pressed.
		&:active {
			@include _oButtonsColors('active', $theme);
		}
		&:not([disabled]) {
			&:hover {
				@include _oButtonsColors('hover', $theme);
				text-decoration: none;
			}
			&:focus {
				@include _oButtonsColors('focus', $theme);
			}
		}
	}

	// Output icons for theme.
	@include _oButtonsIconsForTheme($theme, $icons);
}

/// Output button colors for a given state.
/// If no value is found for a brand variant,
/// fallback to the default value for the state.
///
/// @param {String} $state
/// @param {String|Map} $theme Defined theme or custom theme map.
@mixin _oButtonsColors($state, $theme) {
	background-color: oButtonsGetColor($state, 'background', $theme);
	color: oButtonsGetColor($state, 'color', $theme);
	border-color: oButtonsGetColor($state, 'border', $theme);
}

/// Transform custom theme into variant variables, see `_brand.scss`.
///
/// @param {Map} $theme
/// @return {Map} o-brand variables for the custom button theme
@function _oButtonsGetCustomThemeVariables($theme) {
	@if type-of($theme) != 'map' {
		@error 'Expecting custom button theme `$theme` to be a map.';
	}

	@if not map-has-key($theme, "accent") {
		@error "Please provide an accent color for the custom button theme";
	}

	@if not map-has-key($theme, "background") {
		@error "Please provide a background color for the custom button theme";
	}

	// If theme colorizer is not supported default to secondary.
	$supported-colorizers: ('secondary', 'primary');
	@if not index($supported-colorizers, map-get($theme, "colorizer")) {
		$theme: map-merge($theme, ('colorizer': 'secondary'));
	}

	$colorizer: map-get($theme, 'colorizer');
	$background: map-get($theme, 'background');
	$hover: map-get($theme, 'hover');
	$accent: map-get($theme, 'accent');

	@return (
		default-color: if($colorizer == 'secondary', oColorsGetPaletteColor($accent), oColorsGetPaletteColor($background)),
		default-background: if($colorizer == 'secondary', oColorsGetPaletteColor($background), oColorsGetPaletteColor($accent)),
		default-border: oColorsGetPaletteColor($accent),
		hover-background: if($hover == null, oColorsMix($background, $accent), oColorsGetPaletteColor($hover)),
		hover-color: if($hover == null, oColorsGetPaletteColor($accent), oColorsGetTextColor(oColorsGetPaletteColor($hover), 100)),
		focus-background: if($colorizer == 'secondary', transparent, oColorsGetPaletteColor($accent)),
		active-color: oColorsGetPaletteColor($background),
		active-background: oColorsGetPaletteColor($accent)
	);
}

/// Button size
/// Outputs dimensions for a specific button size
///
/// @example
/// .my-button--big {
/// 	@include oButtonsSize(big);
/// }
///
/// @param {String} $size
@mixin oButtonsSize($size: null) {
	@include oTypographySans($scale: _oButtonsGet('scale', $size), $line-height: 1);
	background-size: _oButtonsGet('background-size', $size);
	min-height: _oButtonsGet('min-height', $size);
	min-width: _oButtonsGet('min-width', $size);
	padding: _oButtonsGet('padding', $size);
	border-width: _oButtonsGet('border-width', $size);

	// Center copy with vertical padding for browsers which do not support flexbox.
	$scale-list: oTypographyGetScale(_oButtonsGet('scale', $size));
	$font-size: nth($scale-list, 1);
	$min-height: _oButtonsGet('min-height', $size);
	$border-width: _oButtonsGet('border-width', $size);
	padding-top: calc((#{$min-height} - #{$font-size}px - (#{$border-width} * 2)) / 2);
	padding-bottom: calc((#{$min-height} - #{$font-size}px - (#{$border-width} * 2)) / 2);

	// Center copy with flexbox for browsers which support it and reset padding.
	@supports (display: inline-flex) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: _oButtonsGet('padding', $size);
	}
}

