/// Pagination button wrapper styles
/// Applies styles of pagination buttons to direct children
///
/// @example
/// .my-buttons-pagination {
/// 	@include oButtonsPagination();
/// }
@mixin oButtonsPagination() {
	> .o-buttons {
		padding-left: 5px;
		padding-right: 5px;
		min-width: 24px;

		&.o-buttons--big {
			padding-left: 9px;
			padding-right: 9px;
			min-width: 36px;
		}
	}
}
