////
/// @group o-buttons
/// @link http://registry.origami.ft.com/components/o-buttons
////

/// Silent mode: on (true) or off (false)
/// Set to false to output default button classes
///
/// @type Boolean
$o-buttons-is-silent: true !default;

/// Button sizes, with their attached properties
///
/// @type Map
$o-buttons-sizes: (
	default: (
		background-size: 21px, // Magic number to reduce poor antialiasing on icons at small sizes
		font-size: 14px,
		min-height: 28px,
		min-width: 60px,
		padding-left: 8px,
		padding-right: 8px,
		border-width: 1px,
	),
	big: (
		background-size: 40px,
		font-size: 16px,
		min-height: 40px,
		min-width: 80px,
		padding-left: 20px,
		padding-right: 20px,
		border-width: 1px,
	)
) !default;

/// Border-radius
///
/// @type Number
$_o-buttons-border-radius: $o-normalise-border-radius;

/// Button themes
/// Keys are a brand variant (@see _brand.scss).
/// Values are used to output selectors e.g. ".o-buttons--primary.o-buttons--inverse".
///
/// @type Map
$o-buttons-themes: (
	primary: 'primary',
	primary-inverse: ('primary', 'inverse'),
	primary-mono: ('primary', 'mono'),
	secondary: 'secondary',
	inverse: 'inverse',
	mono: 'mono',
	b2c: 'b2c'
) !default;

/// List of icons to generate classes for icon buttons.
/// Build service users will only be able to use these icons, but there is
/// a mixin for people using this via Sass, meaning any icon in 'fticons' is
/// available to those users.
/// Icon names as used in fticons
///
/// @type List
$o-buttons-icons: "arrow-left", "arrow-right", "upload", "tick", "plus", "warning", "arrow-down", "arrow-up", "grid", "list", "edit", "download", "search" !default;
