<div class="demo__custom-theme demo__custom-theme--lemon">
	<button class="o-buttons demo__custom-theme-button--lemon-primary">Custom</button>
	<button class="o-buttons o-buttons--big demo__custom-theme-button--lemon-primary">Custom</button>
	<button class="o-buttons o-buttons--big demo__custom-theme-button--lemon-primary" disabled>Custom</button>
</div>

<div class="demo__custom-theme demo__custom-theme--lemon">
	<button class="o-buttons demo__custom-theme-button--lemon-secondary">Custom</button>
	<button class="o-buttons o-buttons--big demo__custom-theme-button--lemon-secondary">Custom</button>
	<button class="o-buttons o-buttons--big demo__custom-theme-button--lemon-secondary" disabled>Custom</button>
</div>
