<div class="demo__custom-theme demo__custom-theme--lemon">
	<button class="o-buttons o-buttons--primary o-buttons--my-lemon">Custom</button>
	<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--my-lemon">Custom</button>
	<button class="o-buttons o-buttons--primary o-buttons--big o-buttons--my-lemon" disabled>Custom</button>
</div>

<div class="demo__custom-theme demo__custom-theme--lemon">
	<button class="o-buttons o-buttons--secondary o-buttons--my-lemon">Custom</button>
	<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--my-lemon">Custom</button>
	<button class="o-buttons o-buttons--secondary o-buttons--big o-buttons--my-lemon" disabled>Custom</button>
</div>
