<div class="demo_custom-theme demo_custom-theme--slate">
	<button class="o-buttons demo_custom-theme-button--slate">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--slate">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--slate" disabled>Inverse</button>
</div>
<div class="demo_custom-theme demo_custom-theme--teal">
	<button class="o-buttons demo_custom-theme-button--teal">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--teal">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--teal" disabled>Inverse</button>
</div>
<div class="demo_custom-theme demo_custom-theme--lemon">
	<button class="o-buttons demo_custom-theme-button--lemon">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--lemon">Inverse</button>
	<button class="o-buttons o-buttons--big demo_custom-theme-button--lemon" disabled>Inverse</button>
</div>
