@import "../../main";

html {
	@include oColorsFor(page);
}

body {
	font-family: Metric, serif;
	margin: 1em;
}

h2 {
	font-weight: 400;
}

p {
	max-width: 900px;
	font-size: 18px;
}

.test-page {
	@include oColorsFor(page);
}

.faux-inline-block {
	display: inline-block;
}

.theme-box {
	display: inline-block;
	padding: 10px;
	margin-left: -10px;
	margin-right: 10px;

}
.inverse {
	background-color: oColorsGetPaletteColor('slate');
}

.custom-button-theme-demo body {
	margin: 0;
}

.demo__custom-theme {
	padding: 1em;
}

.demo__custom-theme--slate {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--lemon {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--teal {
	background-color: oColorsGetPaletteColor(teal-60);
	padding: 1em;
}

// Include o-buttons.
@include oButtons();

// Include icon not in the defaut set.
// This will include the base styles for a second time.
@include oButtons($opts: (
	'types': ('primary', 'secondary'),
	'icons': ('book')
));


// Custom themes.
$teal-theme: (
	'name': 'my-teal',
	'background': 'teal-60',
	'accent': 'white'
);

@include oButtonsAddTheme(
	$theme: $teal-theme,
	$type: 'primary'
);

@include oButtonsAddTheme(
	$theme: $teal-theme,
	$type: 'secondary'
);

$slate-theme: (
	'name': 'my-slate',
	'background': 'slate',
	'accent': 'white'
);

@include oButtonsAddTheme(
	$theme: $slate-theme,
	$type: 'primary'
);

@include oButtonsAddTheme(
	$theme: $slate-theme,
	$type: 'secondary'
);

$lemon-theme: (
	'name': 'my-lemon',
	'background': 'slate',
	'accent': 'lemon'
);

@include oButtonsAddTheme(
	$theme: $lemon-theme,
	$type: 'primary'
);

@include oButtonsAddTheme(
	$theme: $lemon-theme,
	$type: 'secondary'
);

// Custom themes with icons.
$claret-theme: (
	'name': 'my-claret',
	'background': 'slate',
	'accent': 'claret-100'
);
@include oButtonsAddTheme(
	$theme: $claret-theme,
	$type: 'primary',
	$icons: ('book')
);

@include oButtonsAddTheme(
	$theme: $claret-theme,
	$type: 'secondary',
	$icons: ('book')
);
