$o-buttons-is-silent: false;
@import "../../main";

html {
	@include oColorsFor(page);
}

body {
	font-family: Metric, serif;
	margin: 1em;
}

h2 {
	font-weight: 400;
}

p {
	max-width: 900px;
	font-size: 18px;
}

.test-page {
	@include oColorsFor(page);
}

.faux-inline-block {
	display: inline-block;
}

.theme-box {
	display: inline-block;
	padding: 10px;
	margin-left: -10px;
	margin-right: 10px;

}
.inverse {
	background-color: oColorsGetPaletteColor('slate');
}

.custom-button-theme-demo body {
	margin: 0;
}

.demo__custom-theme {
	padding: 1em;
}

.demo__custom-theme--slate {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--lemon {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--teal {
	background-color: oColorsGetPaletteColor(teal-60);
	padding: 1em;
}

// Custom icon button for existing theme.
@include oButtonsPrimary(
	$theme: 'primary',
	$icons: ('book')
);

@include oButtonsSecondary(
	$theme: 'secondary',
	$icons: ('book')
);


// Custom themes.
@include oButtonsPrimary($theme: (
	'name': 'my-teal-primary',
	'background': 'teal-60',
	'accent': 'white'
));

@include oButtonsSecondary($theme: (
	'name': 'my-teal-secondary',
	'background': 'teal-60',
	'accent': 'white'
));

@include oButtonsPrimary($theme: (
	'name': 'my-slate-primary',
	'background': 'slate',
	'accent': 'white'
));

@include oButtonsSecondary($theme: (
	'name': 'my-slate-secondary',
	'background': 'slate',
	'accent': 'white'
));

@include oButtonsPrimary($theme: (
	'name': 'my-lemon-primary',
	'background': 'slate',
	'accent': 'lemon'
));

@include oButtonsSecondary($theme: (
	'name': 'my-lemon-secondary',
	'background': 'slate',
	'accent': 'lemon'
));

// Custom themes with icons.
@include oButtonsPrimary (
	$theme: (
		'name': 'my-claret-primary',
		'background': 'slate',
		'accent': 'claret-100'
	),
	$icons: ('book')
);

@include oButtonsSecondary (
	$theme: (
		'name': 'my-claret-secondary',
		'background': 'slate',
		'accent': 'claret-100'
	),
	$icons: ('book')
);
