@import "../../main";

html {
	@include oColorsFor(page);
}

body {
	font-family: Metric, serif;
	margin: 1em;
}

h2 {
	font-weight: 400;
}

p {
	max-width: 900px;
	font-size: 18px;
}

.test-page {
	@include oColorsFor(page);
}

.faux-inline-block {
	display: inline-block;
}

.theme-box {
	display: inline-block;
	padding: 10px;
	margin-left: -10px;
	margin-right: 10px;

}
.inverse {
	background-color: oColorsGetPaletteColor('slate');
}

.custom-button-theme-demo body {
	margin: 0;
}

.demo__custom-theme {
	padding: 1em;
}

.demo__custom-theme--slate {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--lemon {
	background-color: oColorsGetPaletteColor(slate);
	padding: 1em;
}

.demo__custom-theme--teal {
	background-color: oColorsGetPaletteColor(teal-60);
	padding: 1em;
}

// Include o-buttons.
@include oButtons($opts: (
	'sizes': (
		'big'
	),
	'types': (
		'primary',
		'secondary',
	),
	'themes': (
		'inverse',
		'mono',
		'b2c'
	),
	'icons': join($o-buttons-icons, ('book')), // Also include the book icon, which is not in the defaut set.
	'pagination': true,
	'groups': true
));

// Custom themes.
@include oButtonsAddCustomTheme (
	$name: 'my-teal',
	$opts: (
		'color': 'white',
		'context': 'teal'
	),
	$types: ('primary', 'secondary')
);

@include oButtonsAddCustomTheme (
	$name: 'my-slate',
	$opts: (
		'color': 'white',
		'context': 'slate'
	),
	$types: ('primary', 'secondary')
);

@include oButtonsAddCustomTheme (
	$name: 'my-lemon',
	$opts: (
		'color': 'lemon',
		'context': 'slate'
	),
	$types: ('primary', 'secondary')
);

// Custom themes with icons.
@include oButtonsAddCustomTheme(
	$name: 'my-claret',
	$opts: (
		'color': 'claret',
		'context': 'slate'
	),
	$types: ('primary', 'secondary'),
	$icons: ('book')
);
